<!-- <head>
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet">
</head>
<div class="container regtext genericstyle"> -->
<app-header></app-header>
    <div id="body">
        <div class="quarter"></div>
        <div class="half">
            <!-- <button (click)="logIn()">Log In</button> -->

            <div class="maintext box">
                <h1 class="box headertext">
                    The Employee Development Platform
                    <br>
                    <br>
                </h1>
                <h2 class="box">
                    Get the most from your employees.
                    <br> Hire them, Train Them, Reap the benefits.
                    <br> Track progress easily.
                </h2>
            </div>

        </div>
        <!-- <label for="avatar">Choose a profile picture:</label>
        <form [formGroup]="imageUpload">
            <input formControlName="imageFile" type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
            <button (click)="getImage()">See Image</button>
        </form> -->

        <div class="box emailcontainer">
            <input class="default-form-input" placeholder="Email" />
            <button class="default-button">Start</button>
            <div id="addemail"></div>
        </div>

        <div class="quarter"></div>

        <div id="footer">
            <p>Contact Info goes here</p>
        </div>

